body, table {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

thead th, tfoot th, tfoot td {
    position: sticky;
    background-color: aquamarine;
}

thead th {
    top: 0;
}

tfoot th, tfoot td {
    bottom: 0;
}

table td, table th {
    text-align: center;
    padding: 3px 6px;
    border: 0;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr.lts:nth-child(odd) {
    background-color: #ccc;
}

tr.lts:nth-child(even) {
    background-color: #bbb;
}

tr:nth-child(odd) td.subtotal {
    background-color: #999;
}

tr:nth-child(even) td.subtotal {
    background-color: #888;
}
